biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <!-- Parte relativa a libro_____________________________________________________-->
                <xs:element name="libro" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="indice" type="xs:string" />
                            <xs:element name="sinopsis" type="xs:string" />
                            <xs:element name="capitulo" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string" />
                                        <xs:element name="contenido">
                                            <xs:complexType mixed="true">
                                                <xs:attribute name="enlace" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="n_paginas" type="xs:integer" use="required  " />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[L][0-9]{4}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="novela"></xs:enumeration>
                                    <xs:enumeration value="infantil"></xs:enumeration>
                                    <xs:enumeration value="didactico"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
            
                        <xs:attribute name="n_paginas" type="xs:integer" use="required"/>


                    </xs:complexType>
                </xs:element>

                <!-- Parte relativa a revista________________________________________________________-->

                <xs:element name="revista" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="numero" type="xs:integer" />
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="indice" type="xs:string" />
                            <xs:element name="seccion" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="contenido">
                                            <xs:complexType mixed="true">
                                                <xs:attribute name="enlace" type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="n_paginas" type="xs:integer" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[R][0-9]{4}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="informatica"></xs:enumeration>
                                    <xs:enumeration value="corazon"></xs:enumeration>
                                    <xs:enumeration value=" coches"></xs:enumeration>
                                    <xs:enumeration value="inversion"></xs:enumeration>
                                    <xs:enumeration value="otros"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>

                </xs:element>

                <!-- Parte relativa a periodico________________________________________________________________________-->

                <xs:element name="periodico" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="indice" type="xs:string"/>
                            <xs:element name="seccion_per">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="articulo">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="contenido">
                                                        <xs:complexType mixed="true">
                                                            <xs:attribute name="enlace" type="xs:string" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>

                                                <xs:attribute name="autor" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute name="tipo" use="required" >
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="economia"></xs:enumeration>
                                                <xs:enumeration value="opinion"></xs:enumeration>
                                                <xs:enumeration value="deportes"></xs:enumeration>
                                                <xs:enumeration value="nacional"></xs:enumeration>
                                                <xs:enumeration value="internacional"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>

                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="tipo_clase" use="required" >
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="nacional"></xs:enumeration>
                                    <xs:enumeration value="internacional"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[P][0-9]{4}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                        <xs:attribute name="fecha" type="xs:date" use="required" />

                    </xs:complexType>
                </xs:element>


            </xs:sequence>
        </xs:complexType>

    </xs:element>


</xs:schema>
