libro.dtd

<!ELEMENT libro (titulo,capitulos,numero_paginas,contenido)>
<!ATTLIST libro id CDATA #REQUIRED>
<!ATTLIST libro genero CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT capitulos (capitulo+)>

<!ELEMENT capitulo (titulo,indice,sinopsis,numero_paginas)>
<!ATTLIST capitulo indice CDATA >
<!ATTLIST capitulo sinopsis CDATA >
<!ATTLIST capitulo numero_paginas CDATA >
<!ENTITY contenido "link">