libro.dtd

<!ELEMENT libro (genero,titulo,capitulos,indice,sinopsis,numero_paginas,contenido)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT genero (#PCDATA)>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT capitulos (capitulo+)>

<!ELEMENT capitulo (titulo,numero_paginas)>
<!ELEMENT indice (#PCDATA)>
<!ELEMENT sinopsis (#PCDATA)>
<!ELEMENT numero_paginas (#PCDATA)>

<!ENTITY contenido "link">