periodico.dtd

<!ELEMENT periodico (fecha_publicacion,secciones, indice,contenido)>
<!ATTLIST periodico id CDATA #REQUIRED>
<!ATTLIST periodico categoria CDATA #REQUIRED>

<!ELEMENT fecha_publicacion (#PCDATA)>
<!ELEMENT secciones (seccion+)>
<!ELEMENT seccion (articulos)>

<!ELEMENT articulos (#PCDATA)>
<!ATTLIST articulos autor CDATA #REQUIRED>

<!ELEMENT indice (#PCDATA)>
<!ELEMENT contenido (#PCDATA)>