revista.dtd

<!ELEMENT revista (titulo,numero,indice,secciones,numero_paginas,contenido)>
<!ATTLIST revista id CDATA #REQUIRED>
<!ATTLIST revista tipo_clase CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT indice (#PCDATA)>
<!ELEMENT secciones (seccion+)>
<!--usamos + porque esta permitido que aparezca mas de una vez-->

<!ELEMENT seccion (numero_paginas,contenido)>
<!ELEMENT numero_paginas (#PCDATA)>
<!ELEMENT contenido (#PCDATA)>