revista.dtd

<!ELEMENT revista (titulo,numero,indice,secciones,numero_paginas,contenido)>
<!ATTLIST revista id CDATA #REQUIRED>
<!ATTLIST revista tipo_clase CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT indice (#PCDATA)>
<!ELEMENT secciones (seccion+)>

<!ELEMENT seccion (numero_paginas,contenido)>
<!ATTLIST seccion numero_paginas CDATA >
<!ELEMENT seccion contenido CDATA >